@import 'wingcss';
@import 'fonts.scss';
@import 'palettes.scss';
@import 'properties.scss';

/* Body */
body {
  margin: 0;
  transition: background-color var(--default-time-short) ease-out;
  font-family: var(--default-font-family-text);
  color: var(--color-text);
  background-color: var(--color-brand);
  font-size: 12pt;
}

/* React root element */
#app {
  height: 100%;
  width: 100%;
}

/* Titles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--default-font-family-title);
  color: var(--color-brand);
}

/* Selection */
::selection {
  color: var(--color-brand);
  background-color: var(--color-text);
}

/* Forms */
form {
  padding: var(--default-padding);
}